@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./index.scss";
@import "./variables.scss";

.bg-primary {
  background-color: $primary;
}

.bg-white {
  background-color: $white;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $text_primary;
}

.text_secondary {
  color: $text_secondary;
}
